#-u 4.2 -a 6.0 -t 1.45
 
define ystar 2.3 1.5
keyword lowerVertex 4 6
lowerVertex ystar K+ Xi-
define flat 0
    
fit kpkpxim
    
reaction KpKpXim Beam K+ K+ Xi-

sum KpKpXim PosRe PosRe2

# amplitude KpKpXim::PosRe::YstarAmp Zlm 1 0 +1 +1 0.0 0.350
# amplitude KpKpXim::PosRe::YstarAmp1 Ylm 2 0 1
# amplitude KpKpXim::PosRe::YstarAmp1 Hist2D exampleHist2D.root MVsE MassVsEgamma 23
# amplitude KpKpXim::PosRe::YstarAmp Ylm 1 0 1
amplitude KpKpXim::PosRe::YstarAmp Hist2D exampleHist2D.root MVsE MassVsEgamma 23

initialize KpKpXim::PosRe::YstarAmp cartesian 1.0 0.0
# initialize KpKpXim::PosRe::YstarAmp1 cartesian 2.0 0.0