#-u 4. -a 6.0 -t 1.45
 
define mass 2.4
define width 1.5
define spin 1

fit kpkpxim
    
reaction KpKpXim Beam K+ K+ Xi-

sum KpKpXim PosRe PosRe2

amplitude KpKpXim::PosRe::YStarAmp BreitWigner mass width spin 2 3
amplitude KpKpXim::PosRe::YStarAmp Zlm 1 0 +1 +1 0.0 0.350

# amplitude KpKpXim::PosRe2::YStarAmp BreitWigner mass width spin 2 3
# amplitude KpKpXim::PosRe::YStarAmp Zlm 2 0 +1 +1 0.0 0.350

initialize KpKpXim::PosRe::YStarAmp cartesian 10.0 0.0
#initialize KpKpXim::PosRe2::YStarAmp cartesian 10.0 0.0