k# -a 6.0 -u 4.5 -t 1.45

define ystar1 2.4 1.4
define ystar2 2.8 0.6
define spin 2

fit kpkpxim

reaction KpKpXim Beam K+ K+ Xi-

sum KpKpXim PosRe

amplitude KpKpXim::PosRe::res Ylm 1 0 1
amplitude KpKpXim::PosRe::res Hist2D exampleHist2D.root MVsE MassVsEgamma 23

# amplitude KpKpXim::PosRe::res2 Ylm 0 0 1
# amplitude KpKpXim::PosRe::res2 Hist2D exampleHist2D.root MVsE MassVsEgamma 23

# amplitude KpKpXim::PosRe::res Zlm 1 0 +1 +1 0.0 0.350    
# amplitude KpKpXim::PosRe::res BreitWigner ystar1 spin 2 3

initialize KpKpXim::PosRe::res cartesian 1.0 0.0
# initialize KpKpXim::PosRe::res2 cartesian 1.0 0.0